{% extends "quiz/navbar.html" %}
{% load widget_tweaks %}

{% block main %}
<div class="container-fluid text-center">   
    <form method="POST">
        {% csrf_token %}
        <h2>Create Answers</h2>
        {% for q in question %}
        <div class="form-group">
            <label for="question">{{ q.prompt }}</label>
        </div>
        <div class="options">
            <div class="row">
                <div class="form-group col-sm-12">
                    <div class="row">
                        <div class="col-sm-10"><label for="Answer">Choices</label></div>
                    </div>
                    {% for a in answer %}
                    <div class="row">
                        <div class="choices col-sm-8">{{ a.answer_text }}</div>
                        <div class="col-sm-2"><button class="btn">Edit</button></div>
                        <div class="col-sm-2"><button class="btn">Delete</button></div>
                    </div>
                    {% endfor %}
                    {% for f in form %}
                    <div class="row">
                        <div>{% render_field form.answer_text class="form-control" %}</div>
                        <div class="col-sm-2"><button name="option" type="button" class="btn">Option</button></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" name="submit" class="btn">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}