{% extends "quiz/navbar.html" %}
{% load widget_tweaks %}

{% block main %}
<div class="container-fluid text-center">   
    <form method="POST">
        {% csrf_token %}
        <h2>Create Question</h2>
        <div class="form-group">
            <label for="question">Enter Quiz Questions</label>
            {% render_field form.prompt rows="3" class="form-control" %}
            {% render_field form.option_1 class="form-control" %}
            {% render_field form.option_2 class="form-control" %}
            {% render_field form.option_3 class="form-control" %}
            {% render_field form.option_4 class="form-control" %}
            {% render_field form.correct_option rows="3" class="form-control" %}
        </div>
        <div class="row">
            {% for q in question %}
            <div class="col-sm-8">{{ q.prompt }}</div>
            <div class="col-sm-4">{{ q.correct_option }}</div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button type="submit" name="newquestion" class="btn">Add Question</button>
            </div>
            <div class="col-sm-6">
                <button type="submit" name="next" class="btn">Next</button>
            </div>
        </div>
        {{ form.quiz }}
    </form>
</div>
{% endblock %}