{% extends "quiz/navbar.html" %}
{% load widget_tweaks %}

{% block main %}
<div class="container-fluid text-center">   
    <form method="POST">
        {% csrf_token %}
        <h2>Create Question</h2>
        <div class="form-group">
            <label for="question">Enter Quiz Questions</label>
            {% render_field form.prompt rows="3" class="form-control" %}
        </div>
        <div class="col-sm-12">
            <button type="submit" name="newquestion" class="btn">Add Question</button>
        </div>
        <div class="row">
            <div class="col-sm-2">{{ question.id }}</div>
            <div class="col-sm-6">{{ question.prompt }}</div>
            <div class="col-sm-2"><button class="btn">Edit</button></div>
            <div class="col-sm-2"><button class="btn">Delete</button></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button type="button" name="back" class="btn">Back</button>
            </div>
            <div class="col-sm-6">
                <button type="submit" name="next" class="btn">Next</button>
            </div>
        </div>
        {{ form.quiz }}
    </form>
</div>
{% endblock %}