{% extends "quiz/navbar.html" %}
{% load widget_tweaks %}

{% block main %}

<div class="container-fluid text-center">   
    <form method="POST">
        {% csrf_token %}

        <h2>Create Quiz Name</h2>
        <div class="form-group">
            <label for="Quiz Name">Enter Quiz Name</label>
            {% render_field form.name class="form-control" %}
        </div>
        <div class="form-group">
            <label for="Quiz Name">Enter Quiz Categories</label>
            {% render_field form.tags class="form-control" %}
        </div>

        <h2>Create Question</h2>
        <div class="form-group">
            <label for="question">Enter Quiz Question</label>
            {% render_field form.question rows="3" class="form-control" %}
        </div>
        <div class="options">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="optionA">Correct Answer</label>
                        {% render_field form.correct_answer class="form-control" %}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="optionB">Alternate Option</label>
                        {% render_field form.alt_choice_1 class="form-control" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <button type="button" class="btn">Back</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn">Add Another Option</button>
                </div>                
                <div class="col-sm-3">
                    <button type="button" class="btn">Add Another Question</button>
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </div>
        </div>

    </form>
</div>
{% endblock %}