{% extends "quiz/navbar.html" %}
{% load widget_tweaks %}

{% block main %}
<div class="container-fluid text-center">   
    <form method="POST">
        {% csrf_token %}
        <h2>Create Question</h2>
        <div class="form-group">
            <label for="question">Enter Quiz Question</label>
            {% render_field form.prompt rows="3" class="form-control" %}
        </div>
        <div class="row">
            <div class="col-sm-3">
                <button type="button" class="btn">Back</button>
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn">Add Question</button>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn">Next</button>
            </div>
        </div>
        {{ form.quiz }}
    </form>
</div>
{% endblock %}