{% extends "quiz/navbar.html" %}

{% block main %}

<div class="container text-center">    
    <div class="row content">
        <div class="col-sm-4 sidenav">
            <div class="card text-dark bg-info mb-3">
                <div class="card-header"><h4>Categories</h4></div>
                {% for t in tags %}
                <div class="card-body">{{ t }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-8 text-left"> 
            <h1>QuizzApp</h1>
            <p>Choose the quiz that you want to take by clicking on the title. To view the results of various quiztakers, click on "results."</p>
            <hr>
            <div class="card text-dark bg-info mb-3">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Quiz Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Results</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for q in quiz %}
                            <tr>
                                <th scope="col"><a href="{% url 'quiz' quiz_pk=q.pk %}">{{ q.name }}</a></th>
                                <td scope="col">{{ q.category_name }}</td>
                                <td scope="col"><a href="{% url 'listresults' quiz_pk=q.pk %}">Results</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
