{% extends "quiz/navbar.html" %}
{% load widget_tweaks %}

{% block main %}

<div class="container-fluid text-center">    
    <form method="post">
        {{ formset.management_data }}
        {% csrf_token %}
        <div>
            <label for="studentname">Student Name: </label>
            {% render_field r.student_name class="form-control" %}
        </div>
        {% for r in formset %}
        {% with current_question=questions|get_item:r.question.value %}
        <div class="panel panel-default questions">
            <div class="panel-heading">{{ current_question.prompt }}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <p>1. {{ current_question.option_1 }}</p> 
                    </div>
                    <div class="col-sm-6">
                        <p>2. {{ current_question.option_2 }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p>3. {{ current_question.option_3 }}</p>
                    </div>
                    <div class="col-sm-6">
                        <p>4. {{ current_question.option_4 }}</p>
                    </div>
                </div>
                {% render_field r.selected_option %}
                {% render_field r.student_name %}
                {% render_field r.question %}
            </div> &nbsp;
        </div>
        {% endwith %}
        {% endfor %}
        <div class="row">
            <div class="col-sm-12">
                <button class="btn" name="submit" type="submit">Submit Quiz</button>
            </div>
        </div>
        {{ form.quiz }}
    </form>
</div>
{% endblock %}
