body {
    background: linear-gradient(-45deg, #5479EB, #58A7F5, #58F5F0, #54EBBB);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 1px 3px black;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container {
    margin-left: 0;
    margin-right: 0;
}
.panel > hr {
    margin: 5px;
}
.navbar {
    text-shadow: none;
}
div.navbar {
    margin: 0;
}
.sidenav {
    padding: 0;
}
div.text-left {
    padding: 20px;
}
h1, h2 {
    margin: 0;
    padding: 20px;
    text-align: center;
}
.panel {
    color: black;
    text-shadow: none;
}
.panel-heading {
    padding: 25px
}
.panel-footer {
    padding: 5px
}
p {
    margin: 0;
    padding: 5px;
}
.question {
    padding: 10px;
}
.options {
    padding: 10px;
}
.form-group {
    padding-bottom: 15px;
    padding-top: 5px;
}
#student_name_real {
    margin-bottom: 15px;
    margin-left: 15px;
}
.btn {
    color: black;
    margin-bottom: 15px;
}
input {
    color: black;
}
.navbar-default {
    background-color: #5BC0DE;
}
.navbar-default .navbar-brand {
    color: #fff
}
.navbar-default .navbar-nav>li>a {
    color: #fff
}
.panel-info>.panel-heading {
    background-color: #5BC0DE;
    color: white;
}
@media (max-width: 767px) {
    .sidenav {
        display: none;    
    }
    .text-left .panel-body {
        text-align: center;
    }
}
@media (min-width: 767px) {
    .container {
        width: auto;    
    }
}