{% extends "navbar.html" %}

{% block main %}

<div class="container-fluid text-center">   
    <form method="POST">
        <div class="form-group">
            <label for="question">Enter Quiz Question</label>
            {{ form.question }}
        </div>
        <div class="options">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="optionA">Option A</label>
                        {{ form.option_A }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="optionB">Option B</label>
                        {{ form.option_B }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="optionC">Option C</label>
                        {{ form.option_C }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="optionD">Option D</label>
                        {{ form.option_D }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <button class="btn">Add Question</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn">Add Option</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn">Remove Option</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn">Submit Quiz</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}